<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./parts/linkico.ejs")  %>
    <title>Furniture | <%= title %></title>
    <link rel="stylesheet" href="/public/styles/stylesignin.css">
</head>
<body>
    <div class="box">
        <form action="/login" method="post" autocomplete="off" class="f1">
            <h2>Sign in</h2>
            <div class="inputBox">
                <input type="email" name="email">
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" id="">
                <span>Password</span>
                <i></i>
            </div>
            <input type="submit" value="Login" id="login">
        </form>
        <!-- <form action="/signup" method="get" class="f2">
            <button type="submit">
                Signup
            </button>
        </form> -->
    </div>
</body>

</html>