<footer class="footer" id="footer">
    <div class="container">
        <div class="footercontent">
            <div class="header_2_2_footer">
                <img src="/public/img/FLogoWhite.svg" alt="FLogo">
                <p>Furniture</p>
            </div>
            <div class="footer_2_2">
                <ul class="katalog1">
                    <a href="/sofas" class="katalog">
                        <li>— Дивани</li>
                    </a>
                    <a href="#" class="katalog">
                        <li>— Ліжка</li>
                    </a>
                    <a href="#" class="katalog">
                        <li>— Крісла</li>
                    </a>
                    <a href="#" class="katalog">
                        <li>— Шафи</li>
                    </a>
                    <a href="#" class="katalog">
                        <li>— Кухні</li>
                    </a>
                    <a href="#" class="katalog">
                        <li>— Комоди</li>
                    </a>
                </ul>
                <ul class="katalog2">
                    <a href="#" class="katalog">
                        <li>— АкцІї</li>
                    </a>
                    <a href="#" class="katalog">
                        <li>— Доставка та оплата</li>
                    </a>
                    <a href="#" class="katalog">
                        <li>— Про нас</li>
                    </a>
                    <a href="#" class="katalog">
                        <li>— Контакти</li>
                    </a>
                </ul>
                <ul class="katalog3">
                    <a href="#" class="katalog3_1">
                        <li>
                            <img src="/public/img/map.svg" alt="map">
                            <p>TEST</p>
                        </li>
                    </a>
                    <a href="#" class="katalog3_1">
                        <li>
                            <img src="/public/img/calendar.svg" alt="calendar">
                            <p>Пн-Пт, з 10 до 18</p>
                        </li>
                    </a>
                    <a href="#" class="katalog3_2">
                        <li>
                            <img src="/public/img/smartphone 1.svg" alt="smartphone">
                            <div>
                                <p>(099) 111 22 33</p>
                                <p>(099) 222 33 44</p>
                            </div>
                        </li>
                    </a>
                    <div class="socialocki">
                        <p>Ми в соціальних мережах:</p>
                        <div class="socialocki_1">
                            <img src="/public/img/Telegram1.svg" alt="Telegram" style="margin-left: 0px;">
                            <img src="/public/img/Facebook1.svg" alt="Facebook">
                            <img src="/public/img/Instagram1.svg" alt="Instagram">
                        </div>
                    </div>
                </ul>
            </div>
            <p class="tob">© ТОВ Furniture, працюємо з 2006 року</p>
        </div>
    </div>
</footer>