<header class="header" id="header">
    <div class="container">
        <div class="header_1">
            <div class="header_flex_dir">
                <div class="header_1_1">
                    <p>Ми в соціальних мережах:</p>
                    <a href="https://t.me/bot4ka" target="_blank"><img src="/public/img/Telegram.svg"
                            alt="Telegram"></a>
                    <a href="https://www.facebook.com" target="_blank"><img src="/public/img/Facebook.svg"
                            alt="Facebook"></a>
                    <a href="https://www.instagram.com/bot4ka/" target="_blank"><img src="/public/img/Instagram.svg"
                            alt="Instagram"></a>
                    <a href="tel:+380682735499" class="header_bottom"><img src="/public/img/smartphone.svg"
                            alt="Smartphone"></a>
                    <a href="tel:+380682735499">
                        <p>(068) 273 54 99</p>
                    </a>
                    <a href="leftb" onclick="return false;">
                        <svg width="24" height="24" display="block" class="hovphone" id="hovphone">
                            <use href="#buttondown1"></use>
                        </svg>
                        <ul class="hov_menu1" id="hov_menu1">
                            <li>Це номер телефону оператора</li>
                        </ul>
                    </a>
                </div>
                <div class="header_1_2">
                    <ul class="header_1_2_1">
                        <li><a href="/" style="margin-left: 0px ;" class="bottomrect1">Головна</a></li>
                        <li><a href="#" class="bottomrect1">АкцІї</a></li>
                        <li><a href="#" class="bottomrect1">Доставка та оплата</a></li>
                        <li><a href="#" class="bottomrect1">Про нас</a></li>
                        <li><a href="#" class="bottomrect1">Контакти</a></li>
                    </ul>
                </div>
            </div> 
        </div>
        <div class="header_hr"></div>
        <div class="header_2">
            <div class="header_2_1">
                <ul class="header_2_1_1">
                    <li class="header_2_1_2_1"><a href="/sofas">Дивани</a>
                        <a href="leftb" onclick="return false;">
                            <svg width="20" height="20" display="block" class="hovphone" id="hovphone1">
                                <use href="#buttondown1"></use>
                            </svg></a>
                    </li>
                    <li class="header_2_1_2"><a href="#">Ліжка</a>
                        <a href="leftb" onclick="return false;">
                            <svg width="20" height="20" display="block" class="hovphone">
                                <use href="#buttondown1"></use>
                            </svg></a>
                    </li>
                    <li class="header_2_1_2"><a href="#">Крісла</a>
                        <a href="leftb" onclick="return false;">
                            <svg width="20" height="20" display="block" class="hovphone">
                                <use href="#buttondown1"></use>
                            </svg></a>
                    </li>
                    <li class="header_2_1_2"><a href="#">Комоди</a>
                        <a href="leftb" onclick="return false;">
                            <svg width="20" height="20" display="block" class="hovphone">
                                <use href="#buttondown1"></use>
                            </svg></a>
                    </li>
                    <li class="header_2_1_2"><a href="#">Шафи</a>
                        <a href="leftb" onclick="return false;">
                            <svg width="20" height="20" display="block" class="hovphone">
                                <use href="#buttondown1"></use>
                            </svg></a>
                    </li>
                    <li class="header_2_1_2"><a href="#">Кухня</a>
                        <a href="leftb" onclick="return false;">
                            <svg width="20" height="20" display="block" class="hovphone">
                                <use href="#buttondown1"></use>
                            </svg></a>
                    </li>
                </ul>
            </div>
            <div class="header_2_2">
                <img src="/public/img/FLogo.svg" alt="FLogo">
                <p>Furniture</p>
            </div>
            <div class="header_2_3">
                <a href="/cart"><img src="/public/img/shopping-cart.svg" alt="cart"></a>
                <a class="header_2_3_1" href="/cart">
                    <p>Кошик</p>
                </a>
                <a href="#">
                    <div class="header_2_3_2">
                        <p class="header_2_3_3">Замовити дзвінок</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>